@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair-display);
  }

  .font-montserrat {
    font-family: var(--font-montserrat);
  }
}




